<h2><%= author.name %></h2>
<a href="/author/<%= author.id %>/edit"></a>
<%- include('../partials/deleteForm.ejs', { url: `/authors/${author.id}`}) %>
<% if (booksByAuthor.length > 0) { %> <!-- Remember HTML doesn´t have if/for/foreach bucles, that´s why we use ejs -->
 <h2>Libros del Autor</h2>
 <% books.forEach(element => { %> 
        <a href="/books/<%= element.id %>">
    <img height="150" width="100" src="<%= element.coverImageNameDeciphered %>"> <!-- no need to include /public as it is already define for static files -->
        </a> <!-- Wrapping up the link (href) inside the image -->
   <% }) %>
